@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  overflow-x: hidden;
}


*{
  box-sizing: border-box;
}

label {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
}

h2{
  letter-spacing: 2px;
  font-weight: 600;
}

/* Menu */

.menu-container{
  overflow-y: scroll;
  background-color: #dfdfdf ;
  color: #333333;
  padding: 2em 2em;
  min-width: 280px;
  max-width: 280px;
  border-radius: 0 20px 20px 0;
  min-height: 100vh;
  max-height: 100vh;
  position: absolute;
  top: 0px;
}

.menu-group{
  margin-top: 1.5em;
}

.input-group{
  margin-top: 0.7em;
}

.switch-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Preview */

.preview-container{
  display: flex;
  justify-content: center;
  background-color: #55c298;
  width: 420px;
  margin-top: 3em;
  border-radius: 15px;
}

.button-preview {
  height: 300px;
  width: 400px;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-footer{
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

/* CSS Preview */

.css-preview-container{
  background-color: #438996;
  padding: 0.5em;
  width: 420px;
  margin-top: 3em;
  border-radius: 15px;
}

.css{
  background-color: #333333;
  overflow-y: scroll;
  color: #dfdfdf;
  padding: 0.5em 0; 
  max-height: 206px;
}

.css > span {
  padding-left: 0.3em;
}

.css-text{
  padding: 0 2.1em;
  text-indent: -1.5em;
  white-space: pre-line;
}

/* Preview of CSS and Button */

.page-preview{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20em;
  padding-top: 2em;
}

/* Responsivness */

@media screen and (max-width: 770px){

  .large-dev-menu{
    display: none;
  }

  .page-preview{
    margin-left: 0;
  }

}

@media screen and (min-width: 771px) {
  .small-dev-menu{
    display: none;
  }
}

/* Mobile menu styling imported from react-hamburger-menu doc*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #dfdfdf;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #5c5d5e;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #dfdfdf;
  padding: 2.5em 0.3em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}